# Working with a database

This week's assignment has a few basic steps.  First, we're going to pull some data down off the internet and store it into our MySQL database.  Make sure that you use your username as part of the table name as show in the examples so that you don't create a problem for other students.

Then, we'll merge that with some data already in the database and calculate a few results.  When it comes to calculating the results, you can do so either with SQL or with Pandas operations.

## PART 1: Setup your database connection and table name

In the code below, change the value of the variable `MYTABLE` to use your own username rather that `'pboal'`

You can then use `MYTABLE` in the rest of your code to reference that table name.

In [102]:
â€º# importing required libraries
import os
import pymysql
from sqlalchemy import create_engine
import pandas as pd

In [103]:
#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!
# First, put in your user name below
#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!

MYTABLE='srai' + '_data'


# Then, create a connection to the same database, using the 
# same user name and password in the `mysql-examples.ipynb` 
# file.  Use conn as the database connection variable.

host = 'slucor2020.cgdcoitnku0k.us-east-1.rds.amazonaws.com'
port = '3306'
user = 'slucor2020'
password = 'SLUcor2020'
database = 'hds5210'

conn = create_engine('mysql+pymysql://' + 
                     user + ':' + 
                     password + '@' + 
                     host + '/' + 
                     database, echo=False)

In [104]:
assert(MYTABLE != 'paulboal_data')
assert(conn.connect())

In [105]:
MYTABLE

'srai_data'

In [106]:
conn.connect()

## PART 2: Bring in outside data

Grab the data from this URL and put it into a database table named with your `username_data`.

http://dhcs-chhsagency.opendata.arcgis.com/datasets/8e4f3a0c75b9424d888d11c1f949cc32_0.csv

By the end of your cell, the table should be created.  The tests are going to verify that the table exists and looks right.

In [107]:
url = 'http://dhcs-chhsagency.opendata.arcgis.com/datasets/8e4f3a0c75b9424d888d11c1f949cc32_0.csv'

### SOLUTION GOES HERE

data = pd.read_csv(url)

# CREATE TABLE and fill it with the contents of the dataframe `data`
# the table scheme will be created automatically by pandas
data.to_sql(con=conn, name=MYTABLE, if_exists='replace')

In [108]:
pd.read_sql_query('SELECT * FROM ' + MYTABLE, conn)

,index,Provider_Name,NPI,CCN,Medicaid_EP_Hospital_Type,Street_Address,City,County,State,Zip_Code,Payment_Year_Number,Program_Type,Total_payments,Last_Program_Year,Last_Payment_Year,Last_Payment_Criteria,Most_Recent_Disbursement_Amount,LONGITUDE,LATITUDE,FID
0,0,Sutter Bay Hospitals,1659439834,50008,Acute Care Hospitals,CASTRO & DUBOCE STS,SAN FRANCISCO,San Francisco,CA,94114,3,Medicare/Medicaid,638474,2015,2017,MU,70942,-122.435802,37.769062,1
1,1,PRIME HEALTHCARE SERVICES - GARDEN GROVE LLC,1659538858,50230,Acute Care Hospitals,12601 GARDEN GROVE BLVD,GARDEN GROVE,Orange,CA,92843,4,Medicare/Medicaid,3947489,2014,2015,MU,394749,-117.913856,33.774499,2
2,2,ST MARY MEDICAL CENTER,1669456299,50300,Acute Care Hospitals,18300 US HIGHWAY 18,APPLE VALLEY,San Bernardino,CA,92307,3,Medicare/Medicaid,3062645,2014,2015,MU,340294,-117.262672,34.539918,3
3,3,MADERA COMMUNITY HOSPITAL,1669673646,50568,Acute Care Hospitals,1250 E ALMOND AVE,MADERA,Madera,CA,93637,4,Medicare/Medicaid,2057365,2015,2016,MU,205737,-120.045618,36.945447,4
4,4,Temecula Valley Hospital Inc,1679816201,50775,Acute Care Hospitals,31700 TEMECULA PKWY,TEMECULA,Riverside,CA,92592,1,Medicare/Medicaid,474790,2016,2017,AIU,474790,-117.117197,33.470664,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,323,KAISER FOUNDATION HOSPITALS,1326119967,50071,Acute Care Hospitals,700 LAWRENCE EXPY,SANTA CLARA,Santa Clara,CA,95051,1,Medicare/Medicaid,339080,2016,2017,MU,339080,-121.995774,37.334574,324
324,324,COUNTY OF LOS ANGELES AUDITOR CONTROLLER,1336154020,50717,Acute Care Hospitals,7601 E IMPERIAL HWY,DOWNEY,Los Angeles,CA,90242,2,Medicare/Medicaid,3686626,2016,2018,MU,1382485,-118.156423,33.926359,325
325,325,REEDLEY COMMUNITY HOSPITAL,1336167550,50192,Acute Care Hospitals,372 W CYPRESS AVE,REEDLEY,Fresno,CA,93654,3,Medicare/Medicaid,2520247,2015,2018,MU,280027,-119.451265,36.607796,326
326,326,PROVIDENCE HEALTH SYSTEM-SOUTHERN CALIFORNIA,1336173269,50235,Acute Care Hospitals,501 S BUENA VISTA,BURBANK,Los Angeles,CA,91505,4,Medicare/Medicaid,2326084,2014,2015,MU,232608,-118.326997,34.155912,327
327,327,KAISER FOUNDATION HOSPITALS,1336294040,50411,Acute Care Hospitals,25825 S VERMONT AVE,HARBOR CITY,Los Angeles,CA,90710,2,Medicare/Medicaid,358649,2016,2018,MU,134493,-118.294040,33.788973,328

In [109]:
xyz = pd.read_sql_query('SELECT * FROM ' + MYTABLE, conn)
assert(dxyz.shape == (328,20))
assert(list(dxyz.columns) == ['index', 'Provider_Name', 'NPI', 'CCN',
       'Medicaid_EP_Hospital_Type', 'Street_Address', 'City', 'County',
       'State', 'Zip_Code', 'Payment_Year_Number', 'Program_Type',
       'Total_payments', 'Last_Program_Year', 'Last_Payment_Year',
       'Last_Payment_Criteria', 'Most_Recent_Disbursement_Amount', 'LONGITUDE',
       'LATITUDE', 'FID'])

In [110]:
dxyz.shape

(328, 20)

In [111]:
list(dxyz.columns)

['index',
 'Provider_Name',
 'NPI',
 'CCN',
 'Medicaid_EP_Hospital_Type',
 'Street_Address',
 'City',
 'County',
 'State',
 'Zip_Code',
 'Payment_Year_Number',
 'Program_Type',
 'Total_payments',
 'Last_Program_Year',
 'Last_Payment_Year',
 'Last_Payment_Criteria',
 'Most_Recent_Disbursement_Amount',
 'LONGITUDE',
 'LATITUDE',
 'FID']

## PART 3: Combine with other data in the database

In the database, there is an existing table called `population`.  We want to merge the DHCS datafile loaded above with the population data available in this other database table  The tables can be merged on `MYTABLE`'s `Zip_Code` field and `population`'s `zipcode` field.

Note that not all `Zip_Codes` from your downloaded file have to be in the `population` table.  If they aren't, then I want you to eliminate the non-matching records.  That is, only keep the records that have a matching ZIP code in both sets of data.

Answer the question:
Which providers are located in the zipcode with the largest population?

Put your answer in the form `answer = ['a', 'list', 'of', 'NPI', 'like', '1593042103]`

In [112]:
### SOLUTION GOES HERE
answer = []


population = pd.read_sql_query("SELECT * FROM population", conn)


filtered_data = data[data["Zip_Code"].isin(population["zipcode"])]
population["zipcode"] = population["zipcode"].astype("int64")
merged_data = pd.merge(filtered_data, population, left_on="Zip_Code", right_on="zipcode")



largest_population = merged_data["population"].max()
temp_df = merged_data[merged_data["population"] == largest_population]
zipcode = list(temp_df["Zip_Code"])[0]
answer = list(map(str, temp_df[ merged_data["Zip_Code"] == zipcode ]["NPI"]))

In [112]:
### SOLUTION GOES HERE
answer = []

# read the population table into dataframe
population = pd.read_sql_query("SELECT * FROM population", conn)

population

,zipcode,population,median_age,total_males,total_females,total_households,avg_household
0,91371,1,73.5,0,1,1,1.00
1,90001,57110,26.6,28468,28642,12971,4.40
2,90002,51223,25.5,24876,26347,11731,4.36
3,90003,66266,26.3,32631,33635,15642,4.22
4,90004,62180,34.8,31302,30878,22547,2.73
...,...,...,...,...,...,...,...
314,93552,38158,28.4,18711,19447,9690,3.93
315,93553,2138,43.3,1121,1017,816,2.62
316,93560,18910,32.4,9491,9419,6469,2.92
317,93563,388,44.5,263,125,103,2.53
318,93591,7285,30.9,3653,3632,1982,3.67

In [113]:
# We want the rows in `data` whose `Zip_Code` exists in `population` dataframe,
# we filter it accordingly and store in `filtered_data`

filtered_data = data[data["Zip_Code"].isin(population["zipcode"])]

population["zipcode"] = population["zipcode"].astype("int64")

# merge the `filtered_data` dataframe with `population`.
# here we are merging depending on zipcode
# result stored in `merged_data`
merged_data = pd.merge(filtered_data, population, left_on="Zip_Code", right_on="zipcode")


merged_data

,Provider_Name,NPI,CCN,Medicaid_EP_Hospital_Type,Street_Address,City,County,State,Zip_Code,Payment_Year_Number,...,LONGITUDE,LATITUDE,FID,zipcode,population,median_age,total_males,total_females,total_households,avg_household
0,LONG BEACH MEMORIAL MEDICAL,1720371065,50727,Acute Care Hospitals,1720 TERMINO AVE,LONG BEACH,Los Angeles,CA,90804,2,...,-118.145915,33.788689,20,90804,40311,29.8,19686,20625,14556,2.70
1,AHMC GARFIELD MEDICAL CENTER LP,1730171265,50737,Acute Care Hospitals,525 N GARFIELD AVE,MONTEREY PARK,Los Angeles,CA,91754,4,...,-118.122909,34.067656,21,91754,32742,42.9,15620,17122,11193,2.92
2,AHMC MONTEREY PARK HOSPITAL LP,1780676221,50736,Acute Care Hospitals,900 S ATLANTIC BLVD,MONTEREY PARK,Los Angeles,CA,91754,3,...,-118.138423,34.050379,44,91754,32742,42.9,15620,17122,11193,2.92
3,PRIME HEALTHCARE SERVICES - SAN DIMAS LLC,1740447945,50588,Acute Care Hospitals,1350 W COVINA BLVD,SAN DIMAS,Los Angeles,CA,91773,4,...,-117.834284,34.099075,28,91773,33119,42.5,15737,17382,11941,2.73
4,City of Hope National Medical Center,1750358297,50146,Acute Care Hospitals,1500 DUARTE RD,DUARTE,Los Angeles,CA,91010,1,...,-117.971512,34.132255,29,91010,26074,38.1,12461,13613,7972,3.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"DOWNEY REGIONAL MEDICAL CENTER-HOSPITAL, INC",1265433551,50393,Acute Care Hospitals,11500 BROOKSHIRE AVE,DOWNEY,Los Angeles,CA,90241,2,...,-118.131982,33.935242,307,90241,42399,33.9,20466,21933,13617,3.09
83,"AHMC SAN GABRIEL VALLEY MEDICAL CENTER, LP",1275720377,50132,Acute Care Hospitals,438 W LAS TUNAS DR,SAN GABRIEL,Los Angeles,CA,91776,2,...,-118.105202,34.102491,313,91776,38475,39.0,18751,19724,11776,3.24
84,KAISER FOUNDATION HOSPITALS,1295880912,50677,Acute Care Hospitals,5601 DE SOTO AVE,WOODLAND HILLS,Los Angeles,CA,91367,2,...,-118.588180,34.170412,315,91367,39499,41.0,19171,20328,16697,2.35
85,PROVIDENCE HEALTH SYSTEM-SOUTHERN CALIFORNIA,1336173269,50235,Acute Care Hospitals,501 S BUENA VISTA,BURBANK,Los Angeles,CA,91505,4,...,-118.326997,34.155912,327,91505,30778,38.9,15121,15657,13180,2.33
86,KAISER FOUNDATION HOSPITALS,1336294040,50411,Acute Care Hospitals,25825 S VERMONT AVE,HARBOR CITY,Los Angeles,CA,90710,2,...,-118.294040,33.788973,328,90710,25457,36.7,12291,13166,8717,2.91

In [114]:
# get the largest population from column

largest_population = merged_data["population"].max()

# fetch the row with the `largest_population`
temp_df = merged_data[merged_data["population"] == largest_population]

# get the zipcode from the row
zipcode = list(temp_df["Zip_Code"])[0]

# get all providers' `NPI`s who have Zip codes equal to `zipcode`
answer = list(map(str, temp_df[ merged_data["Zip_Code"] == zipcode ]["NPI"]))

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

In [115]:
assert(type(answer) == list)
assert(answer == ['1194016923'])

In [116]:
type(answer)

list

In [117]:
answer

['1194016923']

## PART 4: Total by hospital type

This is a multistep process:
* From our downloaded data file, compute the `Total payments` per ZIP code and Medicaid EP Hospital Type.
* Then merge that with the `population` data to compute a `Total payments` per person.
* Then average that across all of the `Medicaid EP Hospital Types` to get an average per persona payment for these type of hospital.

Your answer should be in structure of a data frame with at least two columns:
* Medicaid_EP_Hospital_Type
* Avg_Pay_per_Capita

In [118]:
### SOLUTION GOES HERE
answer = None

# create a new dataframe with only columns we need
# `Zip_Code`
# `Medicaid_EP_Hospital_Type`
# `Total_payments`
data_copy = data[["Zip_Code", "Medicaid_EP_Hospital_Type", "Total_payments"]].copy()

# Group by `Zip_Code`, `Medicaid_EP_Hospital_Type`
# and calculate sum of the rest of the numeric columns.
# Here we only have one more numeric column, that is, `Total_payments`
temp_df = data_copy.groupby(by=["Zip_Code", "Medicaid_EP_Hospital_Type"]).sum().reset_index()

# merge the `temp_df` dataframe with `population`.
# here we are merging depending on zipcode
# result stored in `temp_df`
temp_df = pd.merge(temp_df, population, left_on="Zip_Code", right_on="zipcode")

# Calculate `Total_Payments_per_person`
# `Total_Payments_per_person` = `Total_payments` / `population `
temp_df["Total_Payments_per_person"] = temp_df["Total_payments"] / temp_df["population"]

# calulate average of `Total_Payments_per_person`
# for each `Medicaid_EP_Hospital_Type`
temp_df = temp_df.groupby(by=["Medicaid_EP_Hospital_Type"])["Total_Payments_per_person"].mean()

# Reset Index, so that we have all the columns,
# this is to retain the lost columns during groupby
answer = temp_df.reset_index()

# Now that our `Total_Payments_per_person`, contains average
# for each `Medicaid_EP_Hospital_Type`, we can rename it to
# 'Avg_Pay_per_Capita'. Therefore, the resulting column names in the dataframe will be
# `Medicaid_EP_Hospital_Type` and `Avg_Pay_per_Capita`.
answer.columns = ['Medicaid_EP_Hospital_Type', 'Avg_Pay_per_Capita']

answer

  Medicaid_EP_Hospital_Type  Avg_Pay_per_Capita
0      Acute Care Hospitals        17974.362790
1      Children's Hospitals          111.559021

In [119]:
assert(type(answer) == pd.core.frame.DataFrame)
assert(round(answer.query("Medicaid_EP_Hospital_Type == 'Acute Care Hospitals'")['Avg_Pay_per_Capita'].sum(),3) == 17974.363)
assert(round(answer.query("Medicaid_EP_Hospital_Type == 'Children\\'s Hospitals'")['Avg_Pay_per_Capita'].sum(),3) == 111.559)

In [120]:
type(answer)

pandas.core.frame.DataFrame

In [121]:
round(answer.query("Medicaid_EP_Hospital_Type == 'Acute Care Hospitals'")['Avg_Pay_per_Capita'].sum(),3)

17974.363

In [122]:
round(answer.query("Medicaid_EP_Hospital_Type == 'Children\\'s Hospitals'")['Avg_Pay_per_Capita'].sum(),3)

111.559